.video-and-chat .chat .border-container .border-shop .shop {
  .shop-header {
    background-color: $gray-blue-400-opacity;
    width: 412px;
    height: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;

    .btn {
      width: 74px;
      height: 27px;
      border-radius: 10px;

      &.btn-add {
        background-color: $green;
      }

      .text {
        background-color: transparent;
        display: inline-flex;
        align-items: center;
        justify-content: space-around;
        font-size: 16px;
        width: 57px;
      }
    }

    .n-products {
      font-size: 20px;
    }
  }

  .products-container {
    height: 455px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .grid {
      width: 362px;
      height: 425px;
      border-radius: 10px;
      display: grid;
      grid-template-columns: 1fr;
      //grid-auto-rows: 115px;
      grid-gap: 7px;
      overflow: auto;

      .product-container {
        width: 362px;
        height: 115px;
        background-color: $another-black-transparency;
        display: inline-flex;

        align-items: center;

        img {
          background-color: $black-opacity;
          width: 105px;
          height: 115px;
          border-radius: 10px;
          border-color: black;
        }

        .product-info {
          width: 242px;
          height: 92px;
          padding-left: 14px;
          display: inline-flex;
          align-items: center;

          .text-column {
            width: 111px;
            height: 92px;
            display: flex;
            flex-direction: column;
            font-size: 16px;

            span {
              padding-top: 5px;
              font-size: 18px;
            }
          }

          .button-column {
            width: 111px;
            height: 91px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-size: 12px;

            .broadcaster-row {
              width: 70px;
              display: inline-flex;
              justify-content: space-between;
            }

            .btn {
              display: inline-flex;
              align-items: center;

              img {
                background-color: transparent;
              }

              &.timeleft {
                width: 87px;
                height: 22px;
                padding: 0px 8px;
                border-radius: 100px;
                background-color: $red;
                &.broadcaster {
                  background-color: $purple;
                }

                img {
                  width: 15px;
                  height: 15px;
                  margin-right: 6px;
                }

                .text {
                  background-color: transparent;
                  display: inline-flex;
                  align-items: center;
                  justify-content: space-around;
                  font-size: 10px;
                }
              }

              &.btn-buy {
                padding: 0px 8px;
                border-radius: 100px;
                background-color: $green;

                img {
                  width: 17px;
                  height: 27px;
                  margin-right: 6px;
                }

                .buy-text {
                  background-color: transparent;
                  display: inline-flex;
                  align-items: center;
                  justify-content: space-around;
                  font-size: 16px;
                }
              }

              &.btn-delete {
                width: 27px;
                height: 25px;
                border-radius: 10px;
                background-color: $red;
                justify-content: center;

                img {
                  width: 15px;
                  height: 15px;
                }
              }

              &.btn-edit {
                width: 27px;
                height: 25px;
                border-radius: 10px;
                background-color: $blue;
                align-items: center;
                justify-content: center;

                img {
                  padding-top: 3px;
                  width: 15px;
                  height: 22px;
                }
              }
            }
          }
        }
      }
    }
  }
}