// Header.tsx
header {
  position: absolute;
  top: 0;
  width: 100%;
  height: 86px;
  display: flex;
  z-index: 1;
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h1 {
    font-size: 40px;
  }
}