$gray-blue-100: #1F2E35;
$gray-blue-200: #2A3C44;
$gray-blue-300: #30444E;
$gray-blue-400: #475E69;
$gray-blue-400-opacity: rgba(71, 94, 105, 0.2);

$gray-opacity: rgba(225, 224, 231, 0.47);
$black-opacity: rgba(18, 7, 2, 0.2);
$another-black-transparency: rgba(42, 44, 54, 0.26);

$input-border-color: #BEC2C2;

$red: #FF464F;
$green: #25C685;
$green-opacity: rgba(37, 198, 133, 0.2);

$blue: #0062FF;
$yellow: #FFC542;
$orange: #FF974A;
$orange-opacity: rgba(255, 151, 74, 0.2);
$purple: #755FE2;
$gray: #96A7AF;
$smoke: #EFF0FA;