$gray-blue-100 : #1F2E35;
$gray-blue-200 : #2A3C44;
$gray-blue-300 : #30444E;
$gray-blue-400 : #475E69;

$red: #FF464F;
$green: #25C685;
$blue: #0062FF;
$yellow: #FFC542;
$orange: #FF974A;
$purple: #755FE2;
$gray: #96A7AF;
